* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 2rem 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}


.hidden {
    display: none;
}

.answer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#correct-btn,
#incorrect-btn {
    width: fit-content;
    padding: 8px 12px;
    margin-top: 0;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

#correct-btn {
    background-color: #28a745;
    color: #ffffff;
}

#correct-btn:hover {
    background-color: #218838;
}

#incorrect-btn {
    background-color: #dc3545;
    color: #ffffff;
}

#incorrect-btn:hover {
    background-color: #c82333;
}

#answer-counter {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

button.disabled {
    opacity: 0.2;
    pointer-events: none;
}
button.half-disabled {
    pointer-events: none;
}

.correct-counter {
    color: #28a745;
    font-weight: bold;
    font-size: 18px;
    background-color: #e6f4ea;
    border: 1px solid #28a745;
    border-radius: 6px;
    padding: 5px 10px;
}

.incorrect-counter {
    color: #dc3545;
    font-weight: bold;
    font-size: 18px;
    background-color: #f8d7da;
    border: 1px solid #dc3545;
    border-radius: 6px;
    padding: 5px 10px;
}

.reload-div button {
    background-color: red;
}